<button class="button is-primary {{if isLoading "is-loading"}}" {{action "smsLogin" on="click"}} disabled={{disabled}}>
  <span class="icon">
    <i class="fab fa-whatsapp"></i>
  </span>
  <span>Přihlásit přes telefon</span>
</button>

{{!-- <button class="btn btn-primary" {{action "emailLogin" on="click"}} disabled={{disabled}}>
  Prihlasit se pres email
</button> --}}