{{#if orderItem}}
  <div class="variation-line__level level is-mobile is-hidden-tablet">
    <div class="level-left variation-line__title">
      <h5 class="has-text-weight-semibold">{{ orderItem.quantity }} &times; {{ orderItem.title }}</h5>
    </div>
  </div>
  <div class="variation-line__level level is-mobile is-hidden-tablet">
    <div class="level-left">
      <span class="variation-line__price">{{ orderItem.formattedTotalPrice }}</span>
    </div>
    <div class="level-right">
      <Buttons::PlusButton class="js-add-to-cart-button" @onClick={{action "addToCart"}} />
      <Buttons::MinusButton class="js-remove-from-cart-button" @onClick={{action "removeFromCart"}} disabled={{missingInCart}} />
    </div>
  </div>

  <div class="variation-line__level level is-mobile is-hidden-mobile">
    <div class="level-left">
      <h5 class="has-text-weight-semibold">{{ orderItem.quantity }} &times; {{ orderItem.title }}</h5>
    </div>

    <div class="level-right">
      <span class="variation-line__price">{{ orderItem.formattedTotalPrice }}</span>

      <Buttons::PlusButton class="js-add-to-cart-button" @onClick={{action "addToCart"}} />
      <Buttons::MinusButton class="js-remove-from-cart-button" @onClick={{action "removeFromCart"}} />
    </div>
  </div>
{{/if}}