<ul class="steps is-narrow {{if size (concat "is-" size)}} is-centered has-content-centered is-horizontal">
  <li class="steps-segment {{if (eq currentTab "tabMenu") "is-active has-gaps"}}">
    {{#if isMenuEnabled}}
      <a href="#tabMenu" role="tab" {{action selectTab "tabMenu"}} class="order-steps__link">
        <span class="steps-marker">
          <span class="icon">
            <i class="fal fa-hamburger"></i>
          </span>
        </span>
        <div class="steps-content">
          <p class="heading">Menu</p>
        </div>
      </a>
    {{else}}
      <span class="steps-marker">
        <span class="icon">
          {{#if orderState.orderHasBeenMade}}
            <i class="fal fa-check"></i>
          {{else}}
            <i class="fal fa-hamburger"></i>
          {{/if}}
        </span>
      </span>
      <div class="steps-content">
        <p class="heading">Menu</p>
      </div>
    {{/if}}
  </li>
  <li class={{concat "steps-segment " (if (eq currentTab "tabOrder") "is-active") (if (eq currentTab "tabConfirmation") "" " has-gaps")}}>
    {{#if isOrderEnabled}}
      <a href="#tabOrder" role="tab" {{action selectTab "tabOrder"}} class="order-steps__link">
        <span class="steps-marker">
          <span class="icon">
            {{cartTotalQuantity}}
          </span>
        </span>
        <div class="steps-content">
          <p class="heading">Objednat</p>
        </div>
      </a>
    {{else}}
      <span class="steps-marker">
        <span class="icon">
          {{#if orderState.orderHasBeenMade}}
            <i class="fal fa-check"></i>
          {{else}}
            {{#if kitchenState.isClosed}}
              <i class="fal fa-times"></i>
            {{else}}
              {{cartTotalQuantity}}
            {{/if}}
          {{/if}}
        </span>
      </span>
      <div class="steps-content">
        <p class="heading">Objednat</p>
      </div>
    {{/if}}
  </li>
  <li class="steps-segment {{if orderState.orderHasBeenMade "is-active"}}">
    {{#if orderState.orderHasBeenMade}}
      <a href="#tabConfirmation" role="tab" {{action selectTab "tabConfirmation"}} class="order-steps__link">
        <span class="steps-marker {{unless orderState.orderHasBeenMade "is-hollow"}}">
          <span class="icon">
            <i class="fal fa-check"></i>
          </span>
        </span>
        <div class="steps-content">
          <p class="heading">Ta-da!</p>
        </div>
      </a>
    {{else}}
      <span class="steps-marker is-hollow">
        <span class="icon">
          {{#if kitchenState.isClosed}}
            <i class="fal fa-times"></i>
          {{else}}
            <i class="fal fa-check"></i>
          {{/if}}
        </span>
      </span>
      <div class="steps-content">
        <p class="heading">Ta-da!</p>
      </div>
    {{/if}}
  </li>
</ul>