<div class="card">
  <h2 class="h5 card-header">Prehled</h2>
  <ul class="list-group list-group-flush">
    {{#each orderItems as |item|}}
      <OrderItemLine @orderItem={{item}} />
    {{/each}}
  </ul>
</div>

<form class="needs-validation order-form__form">
  <div class="card">
    <h5 class="card-header">Objednavka</h5>
    <div class="card-body">

      {{#if identityVerified}}

        {{#if isVerifiedViaMobile}}
          <div class="form-group row">
            <label for="identityMobile" class="col-5 col-sm-4 col-md-3 col-form-label">Vas telefon:</label>
            <div class="col-7 col-sm-8 col-md-9">
              <span class="order-form__identity-attribute">
                {{orderState.customer.mobile_number}}
              </span>
              <small class="text-muted order-form__identity-note">
                Prihlasen/a pres {{orderState.customer.displayRegistrationType}}.
                <a href="#reset" {{action "resetCustomer"}}>Zmenit?</a>
              </small>
            </div>
          </div>
        {{/if}}

        {{#if isVerifiedViaFacebook}}
          <div class="form-group row">
            <label for="identityName" class="d-none d-sm-block col-sm-4 col-md-3 col-form-label">Vase jmeno:</label>
            <div class="col-sm-8 col-md-9">
              <span class="order-form__identity-attribute">
                {{orderState.customer.name}}
              </span>
              <small class="text-muted order-form__identity-note">
                Prihlasen/a pres {{orderState.customer.displayRegistrationType}}.
                <a href="#reset" {{action "resetCustomer"}}>Zmenit?</a>
              </small>
            </div>
          </div>
        {{else}}
          <Form::FormInput @placeholder="Jmeno" @name="name" @label="Vase jmeno:" @changeset={{inputChangeset}} class="order-form__name-input" />
        {{/if}}

        <Form::FormInput @placeholder="napr. 19:15" @name="pickupTime" @label="Cas vyzvednuti:" @changeset={{inputChangeset}} class="order-form__pickup-time-input" />

      {{else}}

        <div class="order-form__verification-buttons">
          <FacebookLogin @onFinish={{action "verifyFacebookLoginCustomer"}} />
          <div class="order-form__verification-divider">nebo</div>
          <AccountKitLogin @onFinish={{action "verifyAccountKitCustomer"}} />
        </div>

      {{/if}}
    </div>
  </div>

  {{#if identityVerified}}
    <div class="order-form__submit-box">
      <button type="submit" class="btn btn-lg btn-primary" {{action "submit" changeset}} disabled={{isSubmitDisabled}}>Objednat</button>
    </div>
  {{/if}}
</form>

