<h3 class="is-size-3 tab-heading">Přehled</h3>

<div class="card">
  <div class="card-content">
    {{#each orderItems as |item|}}
      <OrderItemLine @orderItem={{item}} />
    {{/each}}

    <div class="level is-mobile">
      <div class="level-left">Celková cena</div>
      <div class="level-right"><strong>{{ orderState.formattedTotalPrice }}</strong></div>
    </div>
  </div>
</div>


<form class="needs-validation order-form__form">
  <h3 class="is-size-3 tab-heading">Objednávka</h3>

  <div class="card">
    <div class="card-content">
      {{#if identityVerified}}
        <article class="media order-form__identity">
          <figure class="media-left">
            <span class="icon is-large">
              <i class="fad fa-user-circle fa-3x"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{orderState.customer.name}}</strong><br>
                {{#if isVerifiedViaMobile}}
                  Telefon: {{orderState.customer.mobile_number}}<br>
                {{/if}}
                <small class="has-text-info">
                  Zkontrolujte prosím zadané údaje.
                  <a class="button is-small is-light" href="#reset" {{action "resetCustomer"}}>Změnit?</a>
                </small>
              </p>
            </div>
          </div>
        </article>
      {{else}}
        <Form::FormInput @placeholder="Jmeno" @name="name" @label="Vaše jméno:" @changeset={{changesetName}} class="order-form__name-input" />

        <div class="field is-horizontal">
          <div class="field-label"></div>
          <div class="field-body">
            <p class="control">
              <AccountKitLogin @onFinish={{action "verifyAccountKitCustomer"}} @disabled={{isIdentityVerificationDisabled}} />
            </p>
          </div>
        </div>
      {{/if}}

      <Form::FormSelect @name="orderTime" @label="Čas vyzvednutí:" @changeset={{changesetOptions}} class="order-form__pickup-time-select" @options={{timeSlots}} />
      <Form::FormSelect @name="orderTakeaway" @label="Chcete to s sebou?" @changeset={{changesetOptions}} class="order-form__pickup-time-select" @options={{yesNoOptions}} />
    </div>
  </div>

  {{#if flashMessages.queue.firstObject}}
    <article class="message is-danger">
      <div class="message-header">
        <p>Ajajaj...</p>
      </div>
      <div class="message-body">
        {{flashMessages.queue.firstObject.message}}
      </div>
    </article>
  {{/if}}

  <div class="order-form__submit-box">
    <button type="submit" class="button is-large is-primary" {{action "submit"}} disabled={{isSubmitDisabled}}>Objednat</button>
  </div>
</form>