<ul class="list-group">
  {{#each orderItems as |item|}}
    <OrderItemLine @orderItem={{item}} />
  {{/each}}
</ul>

<hr class="mb-4">


<form class="needs-validation">
  <div class="row">
    <div class="col-6">
      <Form::FormInput @placeholder="Jmeno" @name="name" @label="Jmeno" @changeset={{inputChangeset}} @disabled={{identityVerified}} />
      {{#if identityVerified}}
        <a href="#reset" {{action 'resetCustomer'}}>Zmenit prijemce?</a>
      {{/if}}
    </div>
    <div class="col-6">
      <Form::FormInput @placeholder="napr. 19:15" @name="pickupTime" @label="Cas vyzvednuti" @changeset={{inputChangeset}} />
    </div>
  </div>

  <hr class="mb-4">

  {{#unless identityVerified}}
    <AccountKitLogin @disabled={{hasNameAndPickupTimeMissing}} @onFinish={{action 'verifyAccountKitCustomer'}} />
    <FacebookLogin @disabled={{hasNameAndPickupTimeMissing}} @onFinish={{action 'verifyFacebookLoginCustomer'}} />
  {{/unless}}

  {{#if identityVerified}}
    <div class="text-center">
      <button type="submit" class="btn btn-lg btn-primary" {{action submit changeset}} disabled={{isSubmitDisabled}}>Objednat</button>
      <button class="btn btn-sm btn-warning" {{action rollback changeset}}>Zrusit</button>
    </div>
  {{/if}}
</form>

