{{#if variation}}
  <span class="row align-items-center">
    <span class="col-8 col-sm-8 col-md-7">
      <strong class="d-block d-md-none">{{ variation.title }}</strong>
      <span class="d-none d-md-block">{{ variation.title }}</span>
      <span class="d-block d-md-none">{{ variation.formattedPrice }}</span>
    </span>
    <span class="col-sm-2 col-md-2 text-right d-none d-md-block">{{ variation.formattedPrice }}</span>
    <span class="col-4 col-sm-4 col-md-3 text-right">
      {{#if countInCart}}
        <span class="variation-line__quantity badge badge-pill badge-primary">{{ countInCart }}</span>
      {{/if}}

      <button class="variation-line__action-button">
        <i class="far fa-plus-circle"></i>
      </button>

      {{#if countInCart}}
        <button class="variation-line__action-button" {{action "removeFromCart" on="click" bubbles=false}}>
          <i class="far fa-minus-circle"></i>
        </button>
      {{/if}}
    </span>
  </span>
{{/if}}
