{{#if variation}}
  <div class="variation-line__level level is-mobile is-hidden-tablet">
    <div class="level-left variation-line__title">
      <h5 class="has-text-weight-semibold">{{ variation.title }}</h5>
    </div>
  </div>
  <div class="variation-line__level level is-mobile is-hidden-tablet">
    <div class="level-left">
      <span class="variation-line__price">{{ variation.formattedPrice }}</span>
    </div>
    <div class="level-right">
      {{#if kitchenState.isOpen}}
        {{#if countInCart}}<span class="variation-line__quantity tag is-rounded is-info">{{ countInCart }}</span>{{/if}}
        <Buttons::PlusButton class="js-add-to-cart-button" @onClick={{action "addToCart"}} />
        <Buttons::MinusButton class="js-remove-from-cart-button" @onClick={{action "removeFromCart"}} disabled={{missingInCart}} />
      {{/if}}
    </div>
  </div>

  <div class="variation-line__level level is-mobile is-hidden-mobile">
    <div class="level-left">
      <h5 class="has-text-weight-semibold">{{ variation.title }}</h5>
    </div>

    <div class="level-right">
      {{#if kitchenState.isOpen}}
        {{#if countInCart}}<span class="variation-line__quantity tag is-rounded is-info">{{ countInCart }}</span>{{/if}}
        <span class="variation-line__price">{{ variation.formattedPrice }}</span>

        <Buttons::PlusButton class="js-add-to-cart-button" @onClick={{action "addToCart"}} />
        <Buttons::MinusButton class="js-remove-from-cart-button" @onClick={{action "removeFromCart"}} disabled={{missingInCart}} />
      {{/if}}
    </div>
  </div>
{{/if}}