<div class="field-label is-normal">
  <label class="label" for="input-{{name}}-{{element.id}}">{{label}}</label>
</div>

<div class="field-body">
  <div class="field">
    <div class="control">
      <div class="select {{if hasError "is-danger"}} {{if isValid "is-success"}}">
        <select id="input-{{name}}-{{element.id}}" name={{name}} disabled={{disabled}} onchange={{action (changeset-set changeset name) value="target.value"}}>
          <option value="">{{placeholder}}</option>
          {{#each options as |optionValue|}}
            <option value={{optionValue.value}} selected={{eq optionValue.value (changeset-get changeset name)}}>{{optionValue.label}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    {{!-- {{#if hasError}}
      <div class="help is-danger">{{errorMessage}}</div>
    {{/if}}

    {{#if isValid}}
      <div class="help is-success">V pořádku!</div>
    {{/if}} --}}
  </div>
</div>