<label class="col-sm-3 col-form-label" for="input-{{name}}-{{element.id}}">{{label}}</label>
<div class="col-sm-9">
  <input
    type={{inputType}}
    class="form-control {{if hasError "is-invalid"}} {{if isValid "is-valid"}}"
    id="input-{{name}}-{{element.id}}"
    name={{name}}
    placeholder={{placeholder}}
    value={{changeset-get changeset name}}
    onchange={{action (changeset-set changeset name) value="target.value"}}
    disabled={{disabled}}
  >

  {{#if hasError}}
    <div class="invalid-feedback">{{errorMessage}}</div>
  {{/if}}

  {{#if isValid}}
    <div class="valid-feedback">V poradku!</div>
  {{/if}}

  {{yield}}
</div>