<section class="hero is-fullheight">
  <Header />

  <div class="index-container">
    <div class="is-hidden-mobile">
      <OrderSteps @size="medium" @currentTab="tabConfirmation" @orderState={{orderState}} @cartTotalQuantity="0" @selectTab={{action "doNothing"}} />
    </div>
    <div class="is-hidden-tablet">
      <OrderSteps @size="small" @currentTab="tabConfirmation" @orderState={{orderState}} @cartTotalQuantity="0" @selectTab={{action "doNothing"}} />
    </div>

    <section class="tab-pane">
      <div class="container">
        <h3 class="is-size-3 tab-heading">Ta-da! 游꿀</h3>
        <div class="card">
          <div class="card-content">
            <div class="content">
              <p>Objedn치vku jsme p콏ijali a bude pro V치s nachystan치 v {{if orderState.order.orderTimeFormatted orderState.order.orderTimeFormatted "V치mi vybran칳 캜as"}}. D캩kujeme!</p>
              <p>
                <button type="button" class="button is-primary" {{action "reset"}}>Objednat znovu 游</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>&copy; 2019 Tortuga Bay - Bar &amp; Grill</strong>
      </p>
    </div>
  </footer>
</section>