<Header />

<div class="index-container">
  <div class="is-hidden-mobile">
    <OrderSteps @size="medium" @currentTab={{currentTab}} @orderState={{orderState}} @cartTotalQuantity={{cart.totalQuantity}} @selectTab={{action "selectTab"}} />
  </div>
  <div class="is-hidden-tablet">
    <OrderSteps @size="small" @currentTab={{currentTab}} @orderState={{orderState}} @cartTotalQuantity={{cart.totalQuantity}} @selectTab={{action "selectTab"}} />
  </div>

  {{#if kitchenState.isClosed}}
    <Message @title="Ahoy!" @body="<strong>Na v캩domost se d치v치: v tuhle chv칤li nelze objednat!</strong> Bu캞 m치me pln칠 ruce pr치ce a st칤h치me jen tak tak, anebo m치me zav콏eno. A콘 tak 캜i onak, zkuste to pozd캩ji anebo se u n치s zastavte osobn캩 a objednejte si jako za star칳ch 캜as콢." @context="warning" />
  {{/if}}

  {{#if (eq currentTab "tabMenu")}}
    <section class="tab-pane">
      <div class="container">

        {{#each model.categories as |category|}}
          <div class="category">
            <div class="level is-mobile level--heading">
              <div class="level-left">
                <h3 class="is-size-3">{{ category.title }}</h3>
              </div>

              {{#if kitchenState.isOpen}}
                <div class="level-right category__continue-cta">
                  <span class="js-subtotal-amount category__total">Celkem: {{orderState.formattedTotalPrice}}</span>

                  {{#if orderState.isReadyForCustomerDetails}}
                    <button class="button is-primary is-small js-continue-to-order" href="#tabOrder" {{action "selectTab" "tabOrder"}}>
                      Pokra캜ovat
                    </button>
                  {{/if}}
                </div>
              {{/if}}
            </div>

            <ProductList @category={{category}} @items={{model.products}} />
          </div>
        {{/each}}

        {{#if kitchenState.isOpen}}
          {{#if orderState.isReadyForCustomerDetails}}
            <div class="menu-continue has-text-centered">
              <p class="js-subtotal-amount is-size-5">Celkem: {{orderState.formattedTotalPrice}}</p>
              <button class="button is-primary is-large js-continue-to-order" href="#tabOrder" {{action "selectTab" "tabOrder"}}>
                Pokra캜ovat
              </button>
            </div>
          {{/if}}
        {{/if}}
      </div>
    </section>
  {{/if}}

  {{#if (eq currentTab "tabOrder")}}
    <section class="tab-pane">
      <div class="container">
        <OrderForm @onSubmit={{action "submitOrder"}} @availableSlots={{model.slots}} />
      </div>
    </section>
  {{/if}}

  {{#if (eq currentTab "tabConfirmation")}}
    <section class="tab-pane">
      <div class="container">
        <h3 class="is-size-3 tab-heading">Ta-da! 游꿀</h3>
        <div class="card">
          <div class="card-content">
            <div class="content">
              <p>Objedn치vku jsme p콏ijali a bude pro V치s nachystan치 v {{if orderState.order.orderTimeFormatted orderState.order.orderTimeFormatted "V치mi vybran칳 캜as"}}. D캩kujeme!</p>
              <p>
                <button type="button" class="button is-primary" {{action "reset"}}>Objednat znovu 游</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  {{/if}}
</div>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>&copy; 2019 Tortuga Bay - Bar &amp; Grill</strong>
    </p>
  </div>
</footer>