<div class="container">
  <div class="jumbotron">
    <div class="text-center">
      <h1 class="display-4">Bob's Burgers 🍔</h1>
      <p class="lead">Best burgerrrs in town, aye.</p>
    </div>
    <hr class="my-4">

    <BsTab @activeId={{currentTab}} @customTabs={{true}} as |tab|>
      <BsNav @type="tabs" as |nav|>
        <nav.item @active={{bs-eq currentTab "tabMenu"}}>
          {{#if orderState.orderHasBeenMade}}
            <span class="nav-link text-muted">Menu</span>
          {{else}}
            <a class="nav-link {{if (bs-eq currentTab "tabMenu") "active"}}" href="#tabMenu" role="tab" {{action "selectTab" "tabMenu"}}>
              Menu
            </a>
          {{/if}}
        </nav.item>

        <nav.item @active={{bs-eq currentTab "tabOrder"}}>
          {{#if orderState.orderHasBeenMade}}
            <span class="nav-link text-muted">Objednavka</span>
          {{else}}
            {{#if orderState.isReadyForCustomerDetails}}
              <a class="nav-link {{if (bs-eq currentTab "tabOrder") "active"}}" href="#tabOrder" role="tab" {{action "selectTab" "tabOrder"}}>
                Objednavka
                <span class="badge badge-primary">{{cart.totalQuantity}}</span>
              </a>
            {{else}}
              <span class="nav-link text-muted">Objednavka</span>
            {{/if}}
          {{/if}}
        </nav.item>

        <nav.item @active={{bs-eq currentTab "tabConfirmation"}}>
          {{#if orderState.orderHasBeenMade}}
            <a class="nav-link {{if (bs-eq currentTab "tabConfirmation") "active"}}" href="#tabConfirmation" role="tab" {{action "selectTab" "tabConfirmation"}}>
              Potvrzeni
            </a>
          {{else}}
            <span class="nav-link text-muted">Potvrzeni</span>
          {{/if}}
        </nav.item>
      </BsNav>

      <div class="tab-content">
        <tab.pane @elementId="tabMenu" @title="Menu" class="content-tab">
          {{#each model.categories as |category|}}
            <h2 class="h4">{{ category.title }}</h2>
            <div class="content-tab__continue-btn">
              Celkem: {{orderState.formattedTotalPrice}}&nbsp;&nbsp;
              {{#if orderState.isReadyForCustomerDetails}}
                <button class="btn-success btn-sm" href="#tabOrder" {{action "selectTab" "tabOrder"}}>
                  Pokracovat
                </button>
              {{/if}}
            </div>

            <ProductList @category={{category}} @items={{model.products}} />
            <hr class="my-4">
          {{/each}}

          {{#if orderState.isReadyForCustomerDetails}}
            <div class="text-center">
              <p>Celkem: {{orderState.formattedTotalPrice}}</p>
              <button class="btn-success btn-lg" href="#tabOrder" {{action "selectTab" "tabOrder"}}>
                Pokracovat
              </button>
            </div>
          {{/if}}
        </tab.pane>

        <tab.pane @elementId="tabOrder" @title="Objednavka" class="content-tab">
          <OrderForm @submit={{action "submitOrder"}} />
        </tab.pane>

        <tab.pane @elementId="tabConfirmation" @title="Potvrzeni" class="content-tab">
          <h2 class="h4">Ta-da! 🎉</h2>
          <p class="lead">Objednavku jsme prijali a bude pro Vas nachystana v {{orderState.order.pickup_time}}. Diky!</p>
          <p class="text-center">
            <button type="button" class="btn btn-primary" {{action 'reset'}}>Objednat znovu 👀</button>
          </p>
        </tab.pane>
      </div>
    </BsTab>

  </div>
</div>