<div class="container">
  <div class="jumbotron">
    <div class="text-center">
      <h1 class="display-4">Bob's Burgers 🍔</h1>
      <p class="lead">Best burgerrrs in town, aye.</p>
    </div>
    <hr class="my-4">

    <BsTab @customTabs={{true}} as |tab|>
      <BsNav @type="tabs" as |nav|>
        <nav.item @active={{bs-eq tab.activeId "tabMenu"}}>
          <a class="nav-link {{if (bs-eq tab.activeId "tabMenu") "active"}}" href="#tabMenu" role="tab" {{action tab.select "tabMenu"}}>
            Menu
            {{#if orderState.hasCartItems}}
              <span class="badge badge-primary">{{cart.totalQuantity}}</span>
            {{/if}}
          </a>
        </nav.item>

        <nav.item @active={{bs-eq tab.activeId "tabOrder"}}>
          {{#if orderState.isReadyForCustomerDetails}}
            <a class="nav-link {{if (bs-eq tab.activeId "tabOrder") "active"}}" href="#tabOrder" role="tab" {{action tab.select "tabOrder"}}>
              Objednavka
            </a>
          {{else}}
            <span class="nav-link text-muted">Objednavka</span>
          {{/if}}
        </nav.item>

        <nav.item @active={{bs-eq tab.activeId "tabConfirmation"}}>
          {{#if orderState.orderHasBeenMade}}
            <a class="nav-link {{if (bs-eq tab.activeId "tabConfirmation") "active"}}" href="#tabConfirmation" role="tab" {{action tab.select "tabConfirmation"}}>
              Potvrzeni
            </a>
          {{else}}
            <span class="nav-link text-muted">Potvrzeni</span>
          {{/if}}
        </nav.item>
      </BsNav>

      <div class="tab-content">
        <tab.pane @elementId="tabMenu" @title="Menu" class="content-tab">
          {{#each model.categories as |category|}}
            <h2 class="h4">{{ category.title }}</h2>
            <div class="content-tab__continue-btn">
              Celkem: {{orderState.formattedTotalPrice}}&nbsp;&nbsp;
              {{#if orderState.isReadyForCustomerDetails}}
                <button class="btn-success btn-sm" href="#tabOrder" {{action tab.select "tabOrder"}}>
                  Pokracovat
                </button>
              {{/if}}
            </div>

            <ProductList @category={{category}} @items={{model.products}} />
            <hr class="my-4">
          {{/each}}

          {{#if orderState.isReadyForCustomerDetails}}
            <div class="text-center">
              <p>Celkem: {{orderState.formattedTotalPrice}}</p>
              <button class="btn-success btn-lg" href="#tabOrder" {{action tab.select "tabOrder"}}>
                Pokracovat
              </button>
            </div>
          {{/if}}
        </tab.pane>

        <tab.pane @elementId="tabOrder" @title="Objednavka" class="content-tab">
          <OrderForm @submit={{action "submitOrder"}} @rollback={{action "rollbackOrder"}} />
        </tab.pane>
      </div>
    </BsTab>

  </div>
</div>