<Header />

{{#if flashMessages.queue.lastObject}}
  {{#flash-message flash=flashMessages.queue.lastObject as |component flash close|}}
    <div class="modal is-active">
      <div class="modal-background"></div>
      <div class="modal-content">
        {{!-- Any other Bulma elements you want --}}
        <Message @title="Ajajaj..." @body={{flash.message}} @context="danger" @close={{action close}} />
      </div>
      <button class="modal-close is-large" aria-label="close" {{action close}}></button>
    </div>
  {{/flash-message}}
{{/if}}

<div class="index-container">
  <div class="is-hidden-mobile">
    <OrderSteps @size="medium" @currentTab={{currentTab}} @orderState={{orderState}} @cartTotalQuantity={{cart.totalQuantity}} @selectTab={{action "selectTab"}} />
  </div>
  <div class="is-hidden-tablet">
    <OrderSteps @size="small" @currentTab={{currentTab}} @orderState={{orderState}} @cartTotalQuantity={{cart.totalQuantity}} @selectTab={{action "selectTab"}} />
  </div>

  {{#if kitchenState.isClosed}}
    <Message @title="Ahoy!" @body="<strong>Na vědomost se dává: v tuhle chvíli nelze objednat!</strong> Buď máme plné ruce práce a stíháme jen tak tak, anebo máme zavřeno. Ať tak či onak, zkuste to později anebo se u nás zastavte osobně a objednejte si jako za starých časů." @context="warning" />
  {{/if}}

  {{#if (eq currentTab "tabMenu")}}
    <section class="tab-pane">
      <div class="container">

        {{#each model.categories as |category index|}}
          <div class="category">
            <Sticky class="category__sticky">
              <div class="level is-mobile level--heading">
                <div class="level-left">
                  <h3 class="category__title">{{ category.title }}</h3>
                </div>

                {{#if kitchenState.isOpen}}
                  {{#unless index}}
                    <div class="level-right category__continue-cta {{if orderState.isReadyForCustomerDetails "category__continue-cta--enabled"}}">
                      <span class="js-subtotal-amount category__total">Celkem: {{orderState.formattedTotalPrice}}</span>

                      {{#if orderState.isReadyForCustomerDetails}}
                        <button class="button is-primary is-small is-hidden-tablet js-continue-to-order" href="#tabOrder" {{action "selectTab" "tabOrder"}}>
                          Pokračovat
                        </button>
                        <button class="button is-primary is-hidden-mobile js-continue-to-order" href="#tabOrder" {{action "selectTab" "tabOrder"}}>
                          Pokračovat
                        </button>
                      {{/if}}
                    </div>
                  {{/unless}}
                {{/if}}
              </div>
            </Sticky>

            <ProductList @category={{category}} @items={{model.products}} />
          </div>
        {{/each}}

        {{#if kitchenState.isOpen}}
          {{#if orderState.isReadyForCustomerDetails}}
            <div class="menu-continue has-text-centered">
              <p class="js-subtotal-amount is-size-3">Celkem: {{orderState.formattedTotalPrice}}</p>
              <button class="button is-primary is-large js-continue-to-order" href="#tabOrder" {{action "selectTab" "tabOrder"}}>
                Pokračovat
              </button>
            </div>
          {{/if}}
        {{/if}}
      </div>
    </section>
  {{/if}}

  {{#if (eq currentTab "tabOrder")}}
    <section class="tab-pane">
      <div class="container">
        {{!-- `triggerSlotChange` just because `didReceiveAttrs` does not watch for array length changes --}}
        <OrderForm @availableSlots={{slots.slots}} @triggerSlotChange={{slots.slots.length}} />
      </div>
    </section>
  {{/if}}
</div>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>&copy; 2019 Tortuga Bay - Bar &amp; Grill</strong>
    </p>
  </div>
</footer>