<div class="container">
  <div class="jumbotron">
    <div class="text-center">
      <h1 class="display-4">Bob's Burgers 🍔</h1>
      <p class="lead">Best burgerrrs in town, aye.</p>
    </div>
    <hr class="my-4">

    {{#bs-tab customTabs=true as |tab|}}
      {{#bs-nav type="tabs" as |nav|}}
        {{#nav.item active=(bs-eq tab.activeId "tabMenu")}}
          <a class="nav-link {{if (bs-eq tab.activeId "tabMenu") "active"}}" href="#tabMenu" role="tab" {{action tab.select "tabMenu"}}>
            Menu
            {{#if orderState.hasCartItems}}
              <span class="badge badge-primary">{{cart.totalQuantity}}</span>
            {{/if}}
          </a>
        {{/nav.item}}

        {{#nav.item active=(bs-eq tab.activeId "tabOrder")}}
          {{#if orderState.isReadyForCustomerDetails}}
            <a class="nav-link {{if (bs-eq tab.activeId "tabOrder") "active"}}" href="#tabOrder" role="tab" {{action tab.select "tabOrder"}}>
              Objednavka
            </a>
          {{else}}
            <span class="nav-link text-muted">Objednavka</span>
          {{/if}}
        {{/nav.item}}

        {{#nav.item active=(bs-eq tab.activeId "tabConfirmation")}}
          {{#if orderState.orderHasBeenMade}}
            <a class="nav-link {{if (bs-eq tab.activeId "tabConfirmation") "active"}}" href="#tabConfirmation" role="tab" {{action tab.select "tabConfirmation"}}>
              Potvrzeni
            </a>
          {{else}}
            <span class="nav-link text-muted">Potvrzeni</span>
          {{/if}}
        {{/nav.item}}
      {{/bs-nav}}

      <div class="tab-content">
        {{#tab.pane elementId="tabMenu" title="Menu" class="content-tab"}}
          {{#each model.categories as |category|}}
            <h2 class="h4">{{ category.title }}</h2>
            <div class="content-tab__continue-btn">
              {{#if orderState.isReadyForCustomerDetails}}
                <button class="btn-success btn-sm" href="#tabOrder" {{action tab.select "tabOrder"}}>
                  Pokracovat
                </button>
              {{/if}}
            </div>

            {{product-list category=category items=model.products}}
            <hr class="my-4">
          {{/each}}

          {{#if orderState.isReadyForCustomerDetails}}
            <div class="text-center">
              <button class="btn-success btn-lg" href="#tabOrder" {{action tab.select "tabOrder"}}>
                Pokracovat
              </button>
            </div>
          {{/if}}
        {{/tab.pane}}

        {{#tab.pane elementId="tabOrder" title="Tab 2" class="content-tab"}}
          {{#bs-form model=this onSubmit=(action "submitOrder") novalidate=true submitOnEnter=true as |form|}}

            <div class="row">
              <div class="col-6">
                {{form.element controlType="text" label="Cas vyzvednuti" placeholder="napr. 19:15" property="pickup_time"}}
              </div>
              <div class="col-6">
                {{form.element controlType="text" label="Jmeno" placeholder="Jmeno" property="name"}}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                {{form.element controlType="email" label="Email" placeholder="Email" property="email"}}
              </div>
              <div class="col-6">
                {{form.element controlType="tel" label="Telefon" placeholder="Telefon" property="mobile"}}
              </div>
            </div>

            <hr class="mb-4">

            <ul class="list-group">
              {{#each orderItems as |item|}}
                {{order-item-line orderItem=item}}
              {{/each}}
            </ul>

            <hr class="mb-4">

            <div class="text-center">
              {{#bs-button type="primary" buttonType="submit" class="btn-lg" disabled=form.isSubmitting}}
                Objednat!
              {{/bs-button}}
            </div>

          {{/bs-form}}
        {{/tab.pane}}
      </div>
    {{/bs-tab}}

  </div>
</div>